.App{
  
}
a,
b,
blockquote,
body,
canvas,
caption,
code,
div,
em,
embed,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
label,
li,
main,
nav,
object,
ol,
p,
pre,
section,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

a {
    text-decoration: none;
    color: white;
}
a:hover{
   
    color: white;
}
.content-color{
    background-color: #DADADA;
     padding-left: 0px!important;
}
.App.row>* {
    padding-right: 0px!important;
    /* padding-left: 0px!important; */
}
.custom__container{
    background-color: white;
    border-radius: 10px;
}
.topbg{
    height:50px;
    width: 100%;
    background-color: white;
}
.navbarbg{
    background-color: #363940;
}